* {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 100vw;
}
.header-container {
    width: 100vw;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#header-content {
    float: left;
    line-height: 25px
}
.header-li {
    list-style: none;
    margin-right: 10px;
}
.header-ul1 {
    padding: 0;
    margin-left: 50px;
    margin-right: 600px;
}
.header-ul2 {
    padding: 0;
    margin-right: 50px;
    margin-left:600px;
}
.header-button {
    float: left;
    line-height: 25px;
}
.main-banner {
    background-color: lightskyblue;
    padding: 10px;
    font-size: larger;
    margin-bottom: 150px;
}
#main-banner-content {
    margin: 50px;
}
.main-banner-text {
    width: 400px;
}
.free-trial, .cancel-anytime, .main-banner-arrow {
    text-align: center;
    width: 300px;
}
.main-banner-jumbo {
    float: right;
    width: 60%;
}
.section1-container {
    width: 50vw;
    height: 950px;
    margin-top: 200px;
    margin: 0 auto;
}
.section1-title {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
}
.plan-main-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.payment-pref {
    margin-left: 200px;
}
.plan-title {
    margin-top: 50px;
    margin-left: 100px;
}
.plan-price {
    margin-left: 110px;
    display: block;
}
.plan-ul1 {
    padding: 20px;
    list-style: none;
    font-size: 12px;
    margin-top: 25px;

}
.plan-li1 {
    margin-bottom: 10px;
    
}
#plan {
    width: calc(100% / 3 - 20px);
    margin: 10px;
    float: left;
    height: 750px;
    border: 1px solid black;
    margin-top: 50px;
}
.section1-free-trial {
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    padding: 15px;
}
.section1-buy-now {
    margin-left: 70px;
}
.point-plan {
    margin-top: 50px;
    margin-left: 80px;
}
.plan-ul2 {
    padding: 20px;
    list-style: none;
    font-size: 12px;
    margin-top: 25px;
}
.plan-li2 {
    margin-bottom: 10px;
}
.section2-container{
    width: 950px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto ;
    padding: 20px;
}
.enterprise-team {
    text-align: center;
    margin-bottom: 15px;
}
.enterprise-button {
    padding: 15px;
    margin-top: 25px;
    float: right;
}
.enterprise-text {
    font-size: 14px;
}
#enterprise {
    margin: 10px;
}
#section3-box {
    float: left;
    width: calc(100% / 2);
    height: 500px;
}
.section3-text {
    padding: 100px;
    text-align: center;
}
.section3-sub-title {
    width: 300px;
    margin: 0 auto;
}
.section3-container {
    width: 950px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
}
.section3-img {
    border-radius: 30px;
    width: 110%;
}
.section4-box {
    float: left;
    width: calc(100% / 3);
    height: 300px;
    padding: 25px;
    margin-top: 50px;
}
.section4-container {
    text-align: left;
    width: 1000px;
    height: 900px;
    margin: 0 auto  ;
}
.box-img {
    width: 60%;
}
.section4-main-title {
    text-align: center;
}
.section5-container {
    width: 100%;
    height: 600px;
    border: 2px solid black;

}
.section5-lin, .section5-main-title {
    margin-left: 500px;
}
.teams-record {
    width: 90%;
    height: 90%;

    margin: 0 auto;
}
#section5-3boxes {
    width: calc(100% / 3);
    height: 100%;
    border: 1px solid black;
    float: left;
}
#boxes-sections {
    float: left;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}
.Designit {
    width: 100%;
    background-image: url(../img/designit.svg);
    background-color: crimson;
    background-position: center;
    background-size: cover;
}
